html {
  font-size: 120%;
}

body {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}

.bg-black {
  background-color: $nav-black;
}

.sectionOdd {
  background-color: $white;
}

.sectionEven {
  background-color: $white-off;
}

.site-button {
  background: $pirate-blue;
  color: #fff;

  &:hover {
    background: darken($pirate-blue, 10%);
    color: #fff;
  }
}

.list {
  padding-left: 30px;
  li {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}
