@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue.otf') format('opentype'),
    url('../fonts/BebasNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}

html {
  font-size: 120%;
}

.bg-black {
  background-color: $nav-black;
}

.sectionOdd {
  background-color: $white;
}

.sectionEven {
  background-color: $white-off;
}

.header-primary {
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
  font-family: 'BebasNeue', Helvetica, Arial, sans-serif;
}

.header-secondary {
  text-align: center;
  font-size: 3rem;
  font-family: 'BebasNeue';
}

.header-tertiary {
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.list {
  padding-left: 30px;
  li {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

tr td:nth-child(2),
tr td:nth-child(3),
tr th:nth-child(2),
tr th:nth-child(3) {
  text-align: center;
}

.site-button {
  background: $pirate-blue;
  color: #fff;

  &:hover {
    background: darken($pirate-blue, 0%);
    color: #fff;
  }
}

.site-table {
  td,
  th {
    border: none;
    margin: 0;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
  }

  td:first-child,
  th:first-child {
    padding-left: 25px;
  }

  tr:nth-child(2n + 1) {
    background-color: rgba(230, 241, 255, 0.75);
  }
  tr:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

// Material icons sizes
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
