.header-primary {
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
  font-family: 'BebasNeue', Helvetica, Arial, sans-serif;
}

.header-secondary {
  text-align: center;
  font-size: 3rem;
  font-family: 'BebasNeue';
}

.header-tertiary {
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
}
